<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <appSettings>
        <!-- *** TESTING DIGITAL CONFIGURATION *** -->
        <add key="CLIENTID" value="1_293ebm81ozb448wc0ksskc8kwww4k8ckggs448k0scswcs4cos" />
        <add key="CLIENTSECRET" value="4u45fguayscgw80k4c8kk8k8s0kw0kgco08g48408wscwgwgw4" />
        <add key="URLTOKEN" value="uyhnsI8oHsXVGM2RQrM7hzMaUPJN9WcJ/miUGpRCEvn41onR90RpYYcWa0e590RvaM0=" />
        <add key="URLAPI" value="http://bidulle.com/api/" />
        <add key="AWSID" value="AKIAJBOSXZRS772GCSLQ" />
        <add key="AWSIDSECRET" value="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" />
        <add key="AWSSERVERREGION" value="https://s3-eu-west-1.amazonaws.com" />
        <add key="BUCKET" value="testingdigital-api" />
        <add key="IPADDRESS" value="192.168.10.13" />
        <add key="FAVORITE" value="http://unicodesnowmanforyou.com/" />
        <add key="DRVFLDR" value="C:/WEBDRIVER" />
    </appSettings>
</configuration>